/* Fonts */

@font-face {
    font-family: 'charter';
    src: url('/fonts/charter-regular.woff') format('woff');
}

@font-face {
    font-family: 'charter';
    src: url('/fonts/charter-bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'charter';
    src: url('/fonts/charter-italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'charter';
    src: url('/fonts/charter-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'firamono';
    src: url('/fonts/FiraMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'firamono';
    src: url('/fonts/FiraMono-Bold.woff') format('woff');
    font-weight: bold;
}

/* Page styling */

body {
    color: #eee;
    background-color: #151515;
    margin: 0;
    font-family: "charter", serif;
    font-size: 24px;
    line-height: 135%;
    width: 100%;
    overflow-y: scroll;
}

#content {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

@media (max-width: 520px) {
    #content {
        font-size: 20px;
    }
}

@media (min-width: 1170px) {
    #pagewrap {
        display: flex;
        min-height: 100vh;
    }

    #content {
        flex: 1;
    }

    /* Header/sidebar */

    #main-sidebar {
        flex: 1;
        max-width: 280px;
        border-right: 1px solid #3094FF;
        opacity: 0.3;
        transition: opacity .2s;
    }

    #main-sidebar:hover {
        opacity: 1;
        transition: all .2s;
    }

    #main-sidebar h1 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 250px;
        max-width: 300px;
        box-sizing: border-box;
    }
}

#main-sidebar h1 {
    margin: 0 auto;
    padding: 1em;
}

#main-sidebar h1 a {
    display: block;
    color: #eee;
    text-decoration: none;
    transition: opacity .2s;
}

#main-sidebar h1 a:hover {
    opacity: 0.8;
    transition: opacity .2s;
}

@media (min-width: 1170px) {
    .sidebar-author {
        position: fixed;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        min-width: 250px;
        max-width: 300px;

    }
}

@media (max-width: 1169px) {
    #main-sidebar {
        padding-bottom: 1em;
        border-bottom: 1px solid #3094FF;
        text-align: center;
    }
}

.sidebar-author h2 {
    font-size: 24px;
    margin-bottom: .5em;
}

.sidebar-author ul {
    margin: .5em auto;
    padding-left: 1em;
}

.sidebar-author li {
    font-size: 20px;
    display: inline;
}

.sidebar-author li:not(:last-child):after {
    content: '\B7';
    margin: 0 10px;
}



/* General content */

p, h1, h2, h3, h4, hr, div.figure, ul, ol {
    max-width: 700px;
    margin: 1em auto;
    padding: 0 1em;
    text-indent: 0;
}

ul, ol {
    list-style-position: inside;
    margin-bottom: 3em;
}

@media (min-width: 880px) {
    ul li {
        text-indent: -48px;
    }
    ol li:nth-child(1n) {
        text-indent: -52px;
    }
    ol li:nth-child(1n+10) {
        text-indent: -65px;
    }
}

li {
    margin: 1em auto;
}

li > p:first-of-type {
    margin-top: 0;
    display: inline;
    padding-left: 1em;
}

li > p {
    padding-left: 0;
}

.title-wrapper {
    max-width: 700px;
    margin: 2em auto 1em;
    padding: 0 1em;
}

.title-wrapper h1 {
    margin: 0;
    padding: 0;
}

.title-wrapper .info {
    float: right;
}

div.figure img {
    max-width: 100%;
}

blockquote {
    max-width: 700px;
    margin: 1em auto;
    border-left: 5px solid #111;
}

hr {
    border: 2px solid #111;
}

h1 { font-size: 34px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }

.info {
    font-size: 0.8em;
    max-width: 700px;
    margin: 0 auto 1em;
    padding: 0 1em;
}

a {
    color: #3094FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Homepage */

.postlist {
    font-size: 20px;
}

.postlist li {
    text-indent: 0;
}

.postlist a, .postlist .info {
    line-height: 36px;
    padding: 0px;
    border: none;
}

.postlist a:hover {
    text-decoration: none;
    border-bottom: 1px solid #3094FF;
}

/* Inline code */
code {
    font-family: "firamono", monospace;
    font-size: 18px;
    background-color: #111;
}

/* Code blocks */

pre {
    background-color: #111;
    width: 100%;
    line-height: 110%;
}

pre code {
    font-size: 16px;
    display: block;
    max-width: 800px;
    margin: 24px auto;
    padding: 1em;
}


/* KeyWordTok */
.sourceCode .kw { color: #268BD2; }
/* DataTypeTok */
.sourceCode .dt { color: #268BD2; }
/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
/* CharTok */
.sourceCode .ch { color: #DC322F; }
/* StringTok */
.sourceCode .st { color: #2AA198; }
/* CommentTok */
.sourceCode .co { color: #93A1A1; }
/* OtherTok */
.sourceCode .ot { color: #A57800; }
/* AlertTok */
.sourceCode .al { color: #CB4B16; font-weight: bold; }
/* FunctionTok */
.sourceCode .fu { color: #268BD2; }
/* RegionMarkerTok */
.sourceCode .re { }
/* ErrorTok */
.sourceCode .er { color: #D30102; font-weight: bold; }
