<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Reinventing the Future" />
    </head>
    <body>
        <div id="pagewrap">
            <aside id="main-sidebar">
                <h1><a href="/">Reinventing the Future</a></h1>
                <div class="sidebar-author">
                    <h2>Joram Schrijver</h2>
                    <ul>
                        <li><a href="https://github.com/jorams">GitHub</a></li>
                        <li><a href="mailto:hi@joram.io">Email</a></li>
                    </ul>
                </div>
            </aside>
            <section id="content">
                $body$
            </section>
        </div>
    </body>
</html>
